
.main{
    min-height: 500px;
    display:flex;
    flex-direction: column;
    width: 100%;
    max-width: $max-page-width;
    margin: 0 auto;
    align-items : center;
}
.white-box {
  text-align: center;
  padding: 200px;
  margin-top : 20px;
  width: 70%;
  padding-top: 50px;
  padding-bottom: 50px;
  @include boxBorder(no);
  .office{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
     flex: auto;
  }
  .date{
      font-size:20px;
      font-weight:bold;
      padding-bottom: 20px;
      .btn{
          padding-left : 15px;
          padding-right : 15px;
          font-size:25px;
          color:grey;

      }
  }
  .wordlist {
    color: darkgrey;
    font-size: 20px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .list{
      display:flex;
      align-content: center;
        .notprogress{
            margin: 0 auto;
            .word{
                font-size: 15px;
                font-weight: bold;
                color:#FE642E;
                padding-top: 30px;
                padding-bottom: 20px;
            }
            .leftbox{
                //width:150px;
                width:300px;
                border:2px solid darkgrey;
            }
        }
        .progress{
            margin: 0 auto;
            .word{
                font-size: 15px;
                color:#00BFFF;
                font-weight: bold;
                padding-top: 30px;
                padding-bottom: 20px;
            }
            .leftbox{
                //width:150px;
                width:300px;
                border:2px solid darkgrey;
            }
        }
    }
}
.columns{
    display : flex;
    padding: 10px;
    border-bottom: 1px solid #bcbcbc;
    .grade{
        padding-left:5px;
        width:20%;
    }
    .words{
        width:60%;
    }
    .count {
        width:20%;
    }
}
.box{
    flex: auto;
    box-sizing: border-box;
    padding : 10px 10px 10px 10px;
    margin-top:20px;
    padding-bottom:20px;
    margin-left :20px;
    padding-top : 20px;
    border: 1px solid darkgrey;
    background-color: white;
    border-radius: 5px;
    .Name{
        padding-bottom :10px;
        font-weight:bold;
    }
    
}